.conatct {
    display: flex;
   
}
.contactTitle {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    color: rgb(0, 26, 0);
    border-bottom: 1px solid rgb(0, 26, 0);
    border-top: 1px solid rgb(0, 26, 0);
    padding: 10px;
    margin-top: -50px;
}
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    cursor: pointer;
    float: right;
    margin-top:20px;
}
.shCon {
    cursor: pointer;
    margin-top: 20px;
    float:right;
    margin-right:10px;
}

.container {
    border-radius: 5px;
    background: rgb(128, 255, 128,.4);
    padding: 100px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both; 
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
