.settings{
    display:flex;
    flex-wrap:wrap;
}

.settingWrapper {
    flex: 9;
    padding: 20px;
    background: rgb(255, 204, 102,.3);
}

.settingsTitle{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.hrline{
    line-height:2px;
    border:1px solid gray;
}
.settingsupdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
    border-bottom: 1px solid rgb(230, 0, 0);
    border-top: 1px solid rgb(230, 0, 0);
}

.settingsdeleteTitle{
    color:red;
    font-size:12px;
    cursor:pointer;
}

.settingForm{
    display:flex;
    flex-direction:column;
}

.settingsPP{
    display:flex;
    align-items:center;
    margin:10px 0px;
}

.settingsPP > img {
    width:70px;
    height:70px;
    border-radius:20px;
}

.settingsPPIcon{

    width:25px;
    height:25px;
    border-radius:50%;
    background-color:lightcoral;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:10px;
    cursor:pointer;

}

.settingForm > label{
    font-size:20px;
    margin-top:20px;
}

.settingForm > input {
    color:gray;
    margin:10px 0px;
    height:30px;
    border:none;
    border-bottom:1px solid lightgray;
}

.settingsSubmit{
    width:150px;
    align-self:center;
    border:none;
    border-radius:10px;
    color:white;
    background-color:teal;
    padding:10px;
   margin-top:20px;
   cursor:pointer;
}
